 .main-container {
    background: #E9EBF2;
    min-height: 94.8vh;
    height: auto;
    padding-bottom: 50px;
}

.header-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    width: 100%;
    height: 100px;
    background: rgb(114,92,196);
    background: radial-gradient(circle, rgba(114,92,196,1) 0%, rgba(169,99,213,1) 100%);  
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}
  
.modal-container {
    position: fixed;
    z-index: 2000;
}

.header-title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    
}

.container-title {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
}

.page-title {
    display: flex;
    justify-content: space-between;
    width: 100vh;
    align-items: center;
}

.task-list {
    display: flex;
    align-items: center;
    justify-content: center;
}



.list-card-container {
    width: 100%;
    margin-top: 50px;
}

.task-card {
    font-family: 'Roboto', serif;
    font-size: 17px;
    background: #fff;
    margin-bottom: 10px;
    border: transparent;
    border-radius: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.task-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.grid-container {
    grid-column: span 3;
}

.card-title {
    font-weight: 700;
    margin-bottom: 10px;
}

.options {
    grid-column: span 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.status-popup {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
  }
  
  .action-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .action-button:hover .status-popup {
    display: block;
    
  }

.empty-message {
    font-family: 'Roboto', serif;
    font-size: 17px;
    font-weight: 700;
    background: #fff;
    margin-bottom: 10px;
    border: transparent;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    gap: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.action-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #8252d0;
    border-radius: 50%;
    border: transparent;
    font-size: 15.2px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
  }

  .action-button:hover {
    background-color: #6b3eaa;
  }

  .create-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 47.2px;
    color: #fff;
    background: #8252d0;
    border-radius: 44px;
    border: transparent;
    font-size: 15.2px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 1s ease;
}

  .create-task-button:hover {
    background: #624093; 
}

.card-column {
    margin: 10px 10px;
    width: 100vh;
}

.link-no-underline {
    text-decoration: none;
}

.icon-large {
    font-size: 24px; 
    margin-right: 5px;
}
  
  

