body .body-home {
    background: #E9EBF2;
}

.task-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    height: 100px;
    background: rgb(114,92,196);
    background: radial-gradient(circle, rgba(114,92,196,1) 0%, rgba(169,99,213,1) 100%);    
}

.list-card-container {
    width: 100%;
    margin-top: 50px;
    
}

.task-card {
    font-family: 'Roboto';
    font-size: 17px;
    background: #fff;
    margin-bottom: 10px;
    border: transparent;
    border-radius: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.task-card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.card-title {
    grid-column: span 3;
    font-weight: 700;
}

.description {
    grid-column: span 3; 
}

.status {
    grid-column: span 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.options {
    grid-column: span 1;
    display: flex;
    justify-content: flex-end;
}

.action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Defina a largura e altura iguais para criar um círculo */
    height: 40px; /* Defina a largura e altura iguais para criar um círculo */
    color: #fff;
    background: #8252d0;
    border-radius: 50%; /* Defina o raio igual a 50% para criar um círculo perfeito */
    border: transparent;
    font-size: 15.2px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 10px;
  }

  .create-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 47.2px;
    color: #fff;
    background: #8252d0;
    border-radius: 44px;
    border: transparent;
    font-size: 15.2px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 1s ease;
}

  .create-task-button:hover {
    background: #624093; 
}

.card-column {
    margin: 10px 10px;
    width: 100vh;
}

.columns-container {
    
}

.link-no-underline {
    text-decoration: none;
}

.icon-large {
    font-size: 24px; 
    margin-right: 5px;
  }
  
  

